body{
    background-color: white;
}

.container {
    margin: 10vh auto;
    width: 500px;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: #121212;
}

h1 {
    font-family: cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}

input {
    height: 40px;
    width: 370px;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    border-radius: 5px;
    text-align: left;
    background-color: #121212;
    color: whitesmoke;
}